h1 {
  font-size: 42px;
  margin: 2px 2px;
  background: rgb(240, 248, 255);
  border-radius: 2px;
  padding: 8px 20px 8px 20px;
  max-width: max-content;
  box-shadow: 10px 5px 5px rgb(12, 12, 12, 0.3);
}
h2 {
  margin: 10px 0px 0px 50px;
}
h2 .header-current-weather {
  font-size: 60px;
  font-weight: normal;
  color: rgb(0, 0, 0);
  margin-left: -7px;
  line-height: 30px;
}
h2 .current-weather-temp {
  font-size: 90px;
  font-weight: bold;
  color: white;
  margin: 20px 0px 0px 100px;
}
h2 .current-weather-type {
  text-align: center;
  margin-right: 10px;
  font-weight: normal;
  font-size: 40px;
  color: rgb(0, 0, 0);
}
h2 .current-weather-emoji {
  margin-left: -125px;
  margin-top: -7px;
  padding-right: 25px;
  font-size: 100px;
}

h2 .current-weather-icon {
  margin-top: -7px;
  margin-left: -50px;
}
.units {
  font-size: 18px;
  margin-top: 25px;
  margin-left: 5px;
  font-weight: normal;
}
h3 {
  font-size: 20px;
  font-weight: normal;
}
ul {
  list-style: none;
  margin: 10px 10px 20px -5px;
  font-size: 20px;
}
.monday-weather {
  background: rgba(240, 248, 255, 0.8);
  padding: 10px 14px 5px 14px;
  margin: 2px;
  border-radius: 2px;
}
.tuesday-weather {
  background: rgba(240, 248, 255, 0.8);
  padding: 10px 14px 5px 14px;
  margin: 2px;
  border-radius: 2px;
}
.wednesday-weather {
  background: rgba(240, 248, 255, 0.8);
  padding: 10px 14px 5px 14px;
  margin: 2px;
  border-radius: 2px;
}
.thursday-weather {
  background: rgba(240, 248, 255, 0.8);
  padding: 10px 14px 5px 14px;
  margin: 2px;
  border-radius: 2px;
}
.friday-weather {
  background: rgba(240, 248, 255, 0.8);
  padding: 10px 14px 5px 14px;
  margin: 2px;
  border-radius: 2px;
}
.weekday-temp {
  font-weight: normal;
  font-size: 30px;
  padding-top: 10px;
}
.weekdays-emoji {
  text-align: center;
  font-size: 50px;
}
.weather-weekdays {
  margin-top: 30px;
}
.weather-description {
  font-size: 25px;
}
.search-box {
  text-align: right;
  margin: 10px 20px;
  font-size: 20px;
}
.card {
  margin: 60px auto;
  background: rgb(59, 145, 220);
}

.todays-date {
  margin: -60px 0px 0px;
  font-size: 25px;
  font-weight: normal;
  font-family: sans-serif;
}
.todays-time {
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 5px;
  font-family: sans-serif;
}
.git-hub-link {
  color: rgb(255, 255, 255);
  margin: 0px 0px 0px 30px;
}

.git-hub-link:hover {
  color: yellowgreen;
}
.created-by {
  color: white;
}

.link-info {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}
